.title{
    color: aqua;
    text-align: center;
    margin: 20vh;
}  
.title h1{
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
    -webkit-box-reflect: linear-gradient(transparent,rgba(29, 29, 29, 0.533));
		animation: animate 5s linear infinite;
}
@keyframes animate
{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #ff9100;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #00ffdd,
		0 0 20px #00f7ff,
		0 0 40px #0077ff,
		0 0 80px #5900ff,
		0 0 160px #6200ff;
	}
}

