*{
  margin: 0;
  padding: 0;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../src/images/climate.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
